body {
    font-family: verdana;
    font-size: 12px;
    background-color: #39A0CE;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    height: 275px;
    width: 280px;
    background-color: #ededed;
    padding: 25px;
    border-radius: 25px;
}

.inputField {
    height: 40px;
    width: 261px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

.button {
    height: 40px;
    width: 275px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #39A0CE;
    border-radius: 5px;
}

.fillCell {
    height: 100%;
    width: 100%;
}

.noPadding {
    padding: 0px;
}